<footer>
  <div class="container-fluid  ">
    <div class="content">
      <div class="row">
        <div class='col-lg-4 col-md-6 col-sm-10'>
          <img src="../../assets/images/footer/first-aid-box.svg" alt="">
          <span>Need help? Visit our FAQ</span>
        </div>
      </div>
      <div class="row mt-4 pt-3">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <h5>Hala Doctor</h5>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Press</li>
            <li>Careers</li>
            <li>Contact</li>
            <li>FAQ</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-md-block">
          <h5>Search by</h5>
          <ul>
            <li>Specialty</li>
            <li>Procedure</li>
            <li>Language</li>
            <li>Location</li>
            <li>Insurance</li>
            <li>Reviews</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-md-block">
          <h5>Cities</h5>
          <ul>
            <li>Specialty</li>
            <li>Procedure</li>
            <li>Language</li>
            <li>Location</li>
            <li>Insurance</li>
            <li>Reviews</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2  d-none d-md-block">
          <h5>Specialties</h5>
          <ul>
            <li>Chiropractors</li>
            <li>Dentists</li>
            <li>Dermatologists</li>
            <li>Eye Doctors</li>
            <li>Gynecologists</li>
            <li>Primary care doctors</li>
            <li>Psychiatrists</li>
          </ul>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 d-none  d-lg-block d-md-none ">
          <h6>Are you a top doctor or dentist?</h6>
          <span class="list">List your practice on HalaDoctor</span>
          <div class="row mt-4 ">
            <div class="col-lg-6 ">
              <img src="../../assets/images/footer/download-on-the-app-store-apple.svg" alt="">
            </div>
            <div class="col-lg-6 ">
              <img src="../../assets/images/footer/google-play-badge.svg" alt="">
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-3">
          <p>© 2019 HalaDoctor. All rights</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
          <p>Terms of Use</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
          <p>Privacy</p>

        </div>
        <div class="col-lg-3 col-md-1  d-none d-md-block "> </div>
        <div class="col-lg-2  col-md-3 col-sm-3 p-0 textEnd">
          <img src="../../assets/images/footer/whatsapp.svg" alt="">
          <img src="../../assets/images/footer/facebook.svg" alt="">
          <img src="../../assets/images/footer/linkedin.svg" alt="">
          <img src="../../assets/images/footer/twitter.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>