<div class="row shadow ">
  <div class="col-lg-4  col-md-4 col-sm-12 p-0">
    <input type="text" class="docName" name="" id="" placeholder="Doctor name ,Specialties" >

  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 p-0 ">
      <input type="text" class="zip" name="" id=""  placeholder="Zip code or city name">
  
    </div>
    <div class=" input-group col-lg-4  col-md-4 col-sm-12 p-0">
        <input type="text" name="" class="insurance form-control" id=""  placeholder="Insurance carrier and plan">
        <span class="input-group-addon input-group-addon-btn ">
            <button class="btn px-2" ><i class="icon-search" aria-hidden="true"></i></button>
        </span>
      </div>

     
      <div class="col-sm-12 bg-white text-center find p-3">
          <button class=" findBtn">Find</button>
      </div>

</div>