//Theam colors
$mainColor:#17CAFF;
$backgrondColor:#F7F7F7;
$textColor:#1F4B6C;
$bgSection:#F4F4F4;
$bgBox:#6EDFFF;
$bgGetApp:#bceaf7;
$docPic:#CCCCCC;
$patientHeaderBg:#57D9FF;
$numberBg:#00BCF4;
$navItemBg:#eaeaea;
//Font Families
$regularFont:'regularFont';
$boldFont:'boldFont';


